name: Upload Python Package

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: "astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867" # v7.1.6
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"
      - name: Build
        run: "uv build"
      - name: Publish
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
